.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  margin: 0;
}

.profile-image {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
}

.inverted {
  *:nth-child(odd) {
    color: var(--f-main-color);
  }
  *:nth-child(even) {
    color: var(--f-second-color);
  }

  &:hover {
    *:nth-child(odd) {
      color: var(--f-second-color);
    }
    *:nth-child(even) {
      color: var(--f-main-color);
    }
  }
}

