.tooltip-container {
  position: relative;

  &:hover .content {
    visibility: visible;
  }
}

.content {
  position: absolute;
  width: 10rem;
  visibility: hidden;
  top: 1.7rem;

  p {
    margin: 0px 0px 0px -0.25rem;
    padding: 0.3rem;
    color: black;
    background-color: lavender;
    margin-top: -5px;
    border-radius: 0.3rem;
  }

  &::before {
    content: "";
    display: inline-block;
    border: 0.5rem solid transparent;
    border-bottom-color: lavender;
    margin-left: 0.25rem;
  }
}
