:root {
  --bg-color: #FAFBFC;
  --bg-tooltip: #151515;
  --bg-card: #FEFEFE;
  --f-tooltip: #f5f0f0;
  --f-main-color: #151515;
  --f-second-color: #422FBD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #151515;
    --bg-tooltip: #f5f0f0;
    --bg-card: #252525;
    --f-main-color: #f5f0f0;
    --f-second-color: #FF893A;
    --f-tooltip: #151515;
  }
}

body {
  margin: 0px;
  color: var(--f-main-color);
  background-color: var(--bg-color);
}

